<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= content_for(:title) || "Portfolio Rémi CROCHET" %></title>
    <meta charset="UTF-8">

    <!-- SEO Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Mobile Web App Capabilities -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Portfolio">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Rails Security Features -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon and Touch Icons -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Stylesheets are linked HERE -->
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <!-- JavaScript files are linked HERE -->
    <%= javascript_importmap_tags %>
</head>
<body>

    <%= render "home/header" %>

    <main class="content">
        <br/>
        <%= yield %>
    </main>

</body>
</html>